@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #2364AA;
    --secondary-color: #FF9933;
    --accent1-color: #73BFB8;
    --accent2-color: #FEC601;
    --heading-font: 'Open Sans', serif; 
    --paragraph-font: 'Open Sans', serif;
    --nav-background-color: #2364AA; 
    --nav-link-color: white; 
    --nav-hover-link-color: white;
    --nav-hover-background-color: #B9C35D;
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 10px;
    border: 1px solid black;
    padding: 5px;
    background-color: #73BFB8;

}

img {
    grid-column: 1 / 2;
    align-self: center;
    margin: 0 15px 0 100px;
    width: 120px;
    height: auto;
    
}

p {
    padding: 25px;
    color: black;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    margin: 30px 40px 30px 60px;
    width: max-content;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1.5rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

div {
    position: relative;
    max-width: 700px;
    padding: 7px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    width: 98%;
    top: 3px;
    left: 107px;
    color: white;
    font-size:40px;
    font-family:large;
    background-color: hsla(16, 49%, 40%, 0.7);
    text-align: center;
    text-transform: uppercase;
}

.hero article {
    position: absolute;
    left: 21.5%;
    top: 60%;
    width: 84%;
    height: 114px;
    padding: 8px;
    background-color: hsla(47, 95%, 47%, 0.6);
    font-weight:650;
    font-size: larger;
    text-align: left;
}

article p {
    padding: 0;
    margin: 1px 0 1px 2px;
}

article img {
    float: right;
    max-width: 150px;
    margin: 1px;
}

.hist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hist h2 {
    justify-content: center;
    width: 100%;
    margin: 50px 100px 10px 430px; 
}


.hist img {
    justify-content: flex-start;
    width: 200px;
    margin: 0;
}

.hist p {
    justify-content: flex-end;
    width: 650px;
    margin: 25px;
    padding: 0;
    text-align: left;
}

section h2 {
    margin: 50px 100px 10px 320px;
}

.pictures {
    display: flex;
    flex-direction: row;
    width: 100px;
    margin: 0 -190px;
}

figure {
    width: 100px;
    height: auto;
    margin: 15px 50px;
}

figcaption {
    width: 240px;
    height: auto;
    margin: 22px 90px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: hsla(16, 49%, 40%, 0.7);
    width: 100%;
    margin: 0 -30px;
}



.sociallinks {
    text-decoration: none;
    background-color: hsla(16, 49%, 40%, 0); ;
    width: 30px; 
    height: 30px; 
    margin: 40px 90px;

}

.sociallinks img {
    width: 30px; 
    height: 30px; 
    margin: 40px -30px;
}