@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: inherit;
    font-size: 1.2em;
    font: 100;
    color: #333;
    background: #fff;
}

header {
    margin: 0 auto;
    width: 650px;
}


h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: #1d037d;
    text-align: center;
}

main {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
}

label {
    text-align: left;
    padding: 0.5rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

.question {
    display: grid;
    padding: 5px;
}

button {
    margin: 2rem 15rem 0.5rem;
    background-color: #1d037d;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    
}

button:hover {
    background-color: darkgreen;
}