* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(130, 84, 161);
    padding: 10px;
}

nav a {
    display: block;
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
} 

h1 {
    color: steelblue;
    border-bottom: 1px solid rgb(130, 84, 161);
    padding: 5px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    margin: 1.2rem;
    box-shadow: 0 0 30px gray;
    float: right;
}

aside h2 {
    position: absolute;
    top: 74px;
    left: 75px;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 10px;
}

footer {
    border-top: 1px solid #000; 
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    background-color: rgb(206, 206, 228);
    color:black;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

/* Grid */
.grid {
    display: grid;
    align-items: center;
    gap: 1px;
}

main {
    grid-column: 2 / 3;
    margin: 1rem;
}

aside {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative;
    width: 18rem;
    text-align: center;
}