* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-text-color: black;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(75, 75, 144);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

h1 {
    color: darkblue;
    border-bottom: 1px solid rgb(123, 123, 201);
    padding: 0.5rem;
    font-size: 1.8rem;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 1rem;
}

p {
    padding: 0.5rem;
}


aside h2 {
    position: absolute;
    top: 75px;
    left: 90px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}


header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
    
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem 1rem 1rem 2rem;
    background-color: rgba(0, 0, 255, 0.119);
    color: var(--heading-text-color);
}


.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2 / 3;
    margin: 0.5rem;
} 

aside {
    width: 20rem;
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1/2;
    text-align: center;
}

